PORT=5000
JWT_SECRET=replace_with_strong_secret
IDENTITY_SERVICE_URL=http://localhost:5001
SALARY_SERVICE_URL=http://localhost:5002
VOTE_SERVICE_URL=http://localhost:5003
SEARCH_SERVICE_URL=http://localhost:5004
STATS_SERVICE_URL=http://localhost:5005
